.home {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #3333a3 5.09%, #121212 33.4%);
  .home_header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
    background: linear-gradient(180deg, #3333a3 100%, #12121200 0%);
    position: sticky;
    top: 0;
    z-index: 20;
    .btn:nth-child(2) {
      transform: rotate(180deg);
    }
    .btn {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 0;
      outline: none;
      cursor: pointer;
      background-color: #000000af;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .h3_good {
    font-weight: 700;
    font-size: 34px;
    padding-left: 50px;
    padding-top: 10px;
    color: #ffffffd0;
  }
  @media (max-width: 430px) {
    .h3_good {
      font-size: 26px;
    }
  }

  .home_carts {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .cart {
      width: 48%;
      height: 81px;
      background-color: rgba(71, 36, 128, 0.768);
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 25px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      img {
        width: 80px;
        height: 100%;
        border-radius: 8px;
      }
      h3 {
        color: #ffffffba;
      }

      .play_btn {
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: rgb(0, 227, 113);
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        right: 20px;
        opacity: 0;
        transition: 0.2s;
        transform: scale(0);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 15px;
          height: 15px;
        }
      }
      .play_btn.active {
        opacity: 1;
        transform: scale(1);
      }
    }
    // .cart:hover {
    //   .play_btn {
    //     opacity: 1;
    //     transform: scale(1);
    //   }
    // }
  }
  @media (max-width: 600px) {
    .home_carts {
      height: auto;
      .cart {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  .products {
    width: 92%;
    margin: 0 auto;
    .product_cards {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .product_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-size: 26px;
        font-weight: 700;
        color: #ffffffd0;
      }

      p {
        color: #ffffffd0;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        padding-right: 10px;
      }
      @media (max-width: 430px) {
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.loadingMine {
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

@media (max-width: 600px) {
}
